/*=================================*/
.error-message {
  color: white;
  text-align: center;
}

.field-validation-error {
  color: white;
}

/* Login */
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}

.login-box .login-logo,
.login-box .register-logo,
.register-box .login-logo,
.register-box .register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.login-box .login-box-body,
.login-box .register-box-body,
.register-box .login-box-body,
.register-box .register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}

.login-box .login-box-body .login-box-msg,
.login-box .login-box-body .register-box-msg,
.login-box .register-box-body .login-box-msg,
.login-box .register-box-body .register-box-msg,
.register-box .login-box-body .login-box-msg,
.register-box .login-box-body .register-box-msg,
.register-box .register-box-body .login-box-msg,
.register-box .register-box-body .register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.login-box .login-box-body #frm_login .has-feedback input,
.login-box .register-box-body #frm_login .has-feedback input,
.register-box .login-box-body #frm_login .has-feedback input,
.register-box .register-box-body #frm_login .has-feedback input {
  height: auto !important;
  line-height: 30px;
}

.login-box .form-login,
.register-box .form-login {
  background: -webkit-linear-gradient(top, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.login-box .form-login.inactive,
.register-box .form-login.inactive {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cont {
  position: relative;
  height: 100%;
  background-image: url("../../../assets/img/bg/bg-login.jpg");
  background-size: cover;
  overflow: auto;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.cont .loader_wrapper {
  overflow: hidden;
  /*height: 100%;*/
  width: 100%;
  position: fixed;
  z-index: 999999;
  background: rgba(249, 251, 253, 0.92);
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: not-allowed;
}

.cont .loader_wrapper.inner .load-wrapper {
  background: white;
  height: 310px;
  width: 310px;
  -webkit-border-radius: 155px;
  -moz-border-radius: 155px;
  -ms-border-radius: 155px;
  border-radius: 155px;
  -webkit-box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, 0.1);
}

.cont .loader_wrapper.inner .load-wrapper .loading_img {
  max-width: 100%;
  height: 110px;
  background-size: auto 100%;
  display: block;
  margin: 90px auto 0 auto;
}

.cont .loader_wrapper .load-wrapper {
  margin: 0 auto;
}

.cont .loader_wrapper .load-wrapper .loader {
  margin: 0 auto;
}

.cont .loader_wrapper .loading_img {
  max-width: 380px;
}

.cont .loader_wrapper .load7 .loader,
.cont .loader_wrapper .load7 .loader:before,
.cont .loader_wrapper .load7 .loader:after {
  height: 1em;
  width: 1em;
}

.cont .loader_wrapper .load7 .loader:before {
  left: -1.5em;
}

.cont .loader_wrapper .load7 .loader:after {
  left: 1.5em;
}

.text-login {
  text-align: center;
  border-radius: 30px;
  line-height: 30px;
  border: 1px solid #d3e2f0;
  background-color: transparent;
  color: white;
}

.white-color {
  color: white;
}

.pink-color {
  color: #ff4081;
}

.has-feedback .form-control-feedback {
  position: absolute;
  display: none;
}

@media only screen and (max-width: 965px) {
  .Table-overlow {
    overflow: auto;
  }
}
