<body class="hold-transition login-page">
    <div class="cont">
        <div class="loader_wrapper inner align-items-center text-center" style="display: none;">
            <div class="load7 load-wrapper">
                <div class="loading_img"></div>
                <div class="loader"> Loading... </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <div class="login-box">
            <div class="login-logo">
                <b style="color:white"> Restaurant </b> <span class="pink-color"> CS </span>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body form-login">
                <p class="login-box-msg">Đăng nhập để bắt đầu làm việc</p>
                <form action="#" id="frm_login" method="post" #userform="ngForm" (ngSubmit)="login($event)">
                    <!--  <div class="form-group has-feedback" [ngClass]="{ 'has-error': userform.submitted && !uname.valid }"> -->
                    <div class="form-group has-feedback" [ngClass]="{ 'has-error': userform.invalid && !uname.valid }">
                        <input name="usr.user" id="usr.user" type="text" [(ngModel)]="usr.user" class="form-control text-login" placeholder="User Name"
                            #uname="ngModel" ngModel required />
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="error-message">
                            <div [hidden]=!uname.errors.required>
                                <!--hidden ở đây ngược với ngIf để kiểm tra show-->
                                Please Input User Name
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" [ngClass]="{ 'has-error': userform.invalid && !uname.valid }">
                        <input name="usr.pass" type="password" [(ngModel)]="usr.pass" class="form-control text-login" placeholder="Password"
                        #upass="ngModel" ngModel required/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <div *ngIf="upass.invalid && (upass.dirty || upass.touched)" class="error-message">
                            <div [hidden]=!upass.errors.required>
                                Please Input Password
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                  <input name="user.rememberMe" type="checkbox"/>
                                     <span class="white-color"> Remember Me</span>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" [disabled]="!userform.valid" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <div class="col-xs-12">
                            <!-- /.social-auth-links -->
                            <a href="#" class="white-color">Tôi quên mật khẩu</a><br>
                        </div>
                        <!-- /.col -->
                    </div>

                </form>

            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
</body>