:host{
    display: flex;
    flex-direction: column;
    height: 100vh;
    .content{
        display: flex;
        flex: 1;
    
    app-menu{
        width: 300px;
        background-color: red;
        height: 100%;

    }
}
}

